# Core modules (mandatory)
jupyterlite-core~=0.2
jupyterlab~=4.0.7

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.2.0

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.1.1,<9

# Python: interative Matplotlib library for Jupyter notebooks (optional)
ipympl>=0.9.3